---
import { Schema } from "astro-seo-schema"

import { MY_GITHUB, MY_LINKEDIN } from "@/modules/shared/constants"

interface Props {
  title: string
  description: string
  lang: string
  ogImage: string
}

const { title, description, lang, ogImage } = Astro.props

const pageUrl = new URL(Astro.url.pathname, Astro.site).href
const ogLocale = lang.replace("-", "_")
const ogImageUrl = new URL(ogImage, Astro.site).href
const schemaOrgImageUrl = new URL("schema-org-image.jpeg", Astro.site).href
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width" />
  <link rel="canonical" href={pageUrl} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>

  {/* Facebook */}
  <meta property="og:type" content="website" />
  <meta property="og:url" content={pageUrl} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={ogImageUrl} />
  <meta property="og:locale" content={ogLocale} />

  {/* Twitter */}
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={pageUrl} />
  <meta property="twitter:title" content={title} />
  <meta property="twitter:description" content={description} />
  <meta property="twitter:image" content={ogImageUrl} />

  <Schema
    item={{
      "@context": "https://schema.org",
      "@type": "Person",
      name: "Zoltan Lehoczky",
      gender: "male",
      nationality: "Hungarian",
      jobTitle: "Software Engineer",
      image: schemaOrgImageUrl,
      url: Astro.site?.href,
      sameAs: [MY_GITHUB, MY_LINKEDIN],
    }}
  />
</head>
